/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"); */
@font-face {
  font-family: Fairuz;
  src: url("../ArbFonts/ArbFONTS-Fairuz-Normal.otf");
}
:root {
  --main-color: #ed1c24;
  --white: #fff;
  --black: #000000;
  --secon-color: #919191;
  --gray-color: #2a2a2a;
  --text-color: #b1b1b1;
}

* {
  font-family: "Fairuz" !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  direction: rtl;
  background: #fcfcfc;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: middle;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

.form-control,
.form-control:focus {
  padding: 1rem;
  border: 1px solid #c8c8c8;
  border-radius: 8px;
  box-shadow: none;
  outline: 0;
  margin: 1.5rem 0;
}
img {
  width: 100%;
}
i,
svg {
  line-height: 0;
}

.btn,
.btn:focus {
  outline: none;
  box-shadow: none;
}
::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--sky-blue);
}
.cut-text {
  text-overflow: unset;
  overflow: hidden;
  white-space: nowrap;
  margin: 0%;
}

#scroll-top {
  position: fixed;
  bottom: 60px;
  right: 60px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--sky-blue);
  font-size: 22px;
  line-height: 2px;
  vertical-align: middle;
  z-index: 98;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
#scroll-top.show {
  visibility: visible;
}

a.link {
  position: absolute !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 99 !important;
  color: transparent !important;
  background: transparent !important;
}
/* --------------------------------- */
/*loader*/
.contain {
  position: relative;
  width: 255px;
}
.loader {
  position: fixed;
  z-index: 999999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}
.loader img {
  width: 150px;
}
.loader-con {
  height: 100%;
}

.loader h4 {
  font-size: 20px;
  direction: ltr;
}

#spin-animation {
  animation-name: spin-animation;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header,
nav,
section,
article,
aside,
footer,
hgroup {
  display: block;
}

/* header */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000a2;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
a:hover,
a {
  color: var(--text-color);
}
header .navbar-top {
  background-color: #fcfcfc;
  color: var(--text-color);
}
header .top-nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
header .top-nav .active {
  color: var(--main-color);
  font-weight: 600;
}
header .top-nav .privet {
  margin-right: 9px;
  margin-left: 9px;
  color: #c8c8c8;
  background-color: #c8c8c8;
  width: 1px;
  height: 80%;
}
header .bi {
  color: #919191;
}
header .icon {
  padding: 4px 8px 5px;
  border-radius: 50%;
  background: #f1f1f1;
}
header .icon.show {
  background: var(--main-color);
  color: var(--white);
}

header .icon.show .bi {
  color: var(--white);
}
header .btn-group .dropdown-menu {
  box-shadow: 0px 0px 20px #77777729;
  top: 45px;
  border: none;
}
header .btn-group .dropdown-menu .dropdown-item {
  text-align: center;
  padding: 12px;
}
.dropdown-item:hover,
header .btn-group .dropdown-item:active {
  color: #132a36;
  text-decoration: none;
  background-color: transparent;
}
header .navbar-toggler {
  padding: 8px;
  border-radius: 50%;
  background: #f1f1f1;
  display: none;
}
header .search-bar {
  width: 400px;
  display: flex;
  align-items: center;
  position: relative;
}
header .search-bar input[type="search"] {
  background: #f1f1f1;
  width: 100%;
  padding: 8px 15px;
  border-radius: 25px;
}
header .search-bar .icon {
  position: absolute;
  left: 1%;
}
header .navbar .navbar-nav .nav-item .nav-link.active {
  color: var(--main-color);
  font-weight: 600;
}
header .navbar .navbar-nav .nav-item {
  padding-right: 5px;
  padding-left: 5px;
}
.main-banner .carousel-control-next,
.main-banner .carousel-control-prev {
  opacity: 1;
}

.main-banner .carousel-control-prev-icon,
.main-banner .carousel-control-next-icon {
  background: var(--white);
  border-radius: 50%;
  padding: 2px;
  color: var(--black);
}
.main-banner .carousel-caption {
  bottom: 30%;
  z-index: 5;
  line-height: 4;
}
.main-banner .carousel-caption span {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.823);
}
.main-banner .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border-top: none;
  border-bottom: none;
  border: 1px solid #fff;
  background: transparent;
}
.main-banner .carousel-indicators .active {
  width: 30px;
  height: 10px;
  border-radius: 25px;
  background: var(--white);
}
/* breadcrumb */
.breadcrumb {
  background: #f8f8f8;
  margin-bottom: 0;
  color: #919191;
}
/* about */
.recipt,
.profile,
.notification,
.cart,
.compare,
.single-blog,
.blog,
.contact,
.login,
.offers-finall,
.the_shop_collection,
.the-shop,
.single-product,
.popular,
.shop-now,
.about {
  background: #fcfcfc;
}
.about .decrip {
  color: #6a6a6a;
}
.about .collect {
  width: 70px;
  height: 70px;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px #30303029;
}
.about .image-about {
  width: 50px;
  height: 50px;
  background: rgb(187 187 187 / 10%);
  padding: 10px;
  border-radius: 50%;
}

/* shopping */

.shop-now .photo {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
}
.shop-now .photo img {
  filter: brightness(0.38);
  transition: 0.4s;
  border-radius: 20px;
}
.shop-now .photo:hover img {
  transform: scale(1.2);
}
.shop-now .collection {
  position: absolute;
  top: 35%;
  right: 30%;
  color: #fff;
  text-align: center;
  font-size: 24px;
}
/* the-shop */

.heading .bi {
  color: var(--main-color);
  font-size: 20px;
}

.the-shop .card {
  border-radius: 20px;
  margin-bottom: 15px !important;
  height: 95% !important;
}
.offers-finall .card-body,
.the-shop .card-body {
  line-height: 2.5;
}
.offers-finall .items-hover,
.the-shop .items-hover {
  position: absolute;
  width: 100%;
  bottom: 40%;
  opacity: 0;
  transition: all 0.2s;
}
.offers-finall .items-hover a,
.the-shop .items-hover a {
  color: #3d3d3d;
}
.offers-finall .items-hover .bi,
.the-shop .items-hover .bi {
  background: var(--white);
  border-radius: 50%;
  font-size: 14px;
  padding: 8px 8px 7px 9px;
}
.offers-finall .items-hover .fa-heart,
.the-shop .items-hover .fa-heart {
  color: var(--gray-color);
}
.offers-finall .card .shopping-cart,
.the-shop .card .shopping-cart {
  position: relative;
}
.offers-finall .card .btn-shopping,
.the-shop .card .btn-shopping {
  width: 80%;
  background: var(--main-color);
  padding: 10px;
  color: #fff;
  margin: auto;
  position: absolute;
  top: 0;
  right: 10%;
  opacity: 0;
}
.offers-finall .card img,
.the-shop .card img {
  border-radius: 20px 20px 0 0;
  height: 100%;
  position: relative;
}
.offers-finall .card p,
.the-shop .card p {
  color: #636363;
}
.offers-finall .card .spcial,
.the-shop .card .spcial {
  color: var(--main-color);
}
.offers-finall .card p del,
.the-shop .card p del {
  text-decoration: line-through;
  color: #636363;
}
.offers-finall .card:hover .items-hover,
.offers-finall .card:hover .btn-shopping,
.the-shop .card:hover .items-hover,
.the-shop .card:hover .btn-shopping {
  opacity: 1;
}
.offers-finall .card:hover img,
.the-shop .card:hover img {
  filter: brightness(0.5);
}
/* modal quick view */
.product_view .modal-dialog {
  max-width: 1100px;
  width: 100%;
  margin-top: 80px;
  margin-right: auto;
}
.product_view .images-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product_view .product_img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_view .product_images img {
  border-radius: 18px;
}
.product_view .images-view img {
  width: 25%;
  padding: 5px;
  height: 100px;
}
.product_view .modal-content {
  border-radius: 25px;
}
.product_view .product_content {
  width: 40%;
}
.product_view #imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}
.product_view .product-detail h5,
.product_view .product_content h5 {
  font-weight: 600;
  line-height: 1.9;
}
.product_view .product-detail .product-rate,
.product_view .product_content .product-rate {
  font-size: 18px;
  color: #707070;
}
.product_view .product-detail .product-rate .bi,
.product_view .product_content .product-rate .bi {
  border-radius: 4px;
  border: 1px solid #eeeeee;
  padding: 5px 5px 4px;
  color: var(--black);
  cursor: pointer;
}
.product_view .product-detail .product-rate .bi-suit-heart,
.product_view .product_content .product-rate .bi-suit-heart {
  color: var(--main-color);
}
.product_view .product-shipping .discount,
.product_view .product-detail .discount,
.product_view .product_content .discount {
  border-top: 1px solid #919191bb;
  border-bottom: 1px solid #919191bb;
  font-size: 18px;
}
.product_view .product-shipping .discount span,
.product_view .product-detail .discount span,
.product_view .product_content .discount span {
  color: var(--main-color);
  padding-right: 5px;
}
.product_view .product-shipping .discount del,
.product_view .product-detail .discount del,
.product_view .product_content .discount del {
  text-decoration: line-through;
  color: #919191bb;
}
.product_view .product-detail .description-product ul li,
.product_view .product_content .description-product ul li {
  color: #2a2a2a;
  font-weight: 600;
}
.product_view .product-detail .result-description ul li,
.product_view .product_content .result-description ul li {
  color: #2a2a2a;
}
.product_view .product_content .count-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product_view .product_content .count-product .form-select {
  background-position: left 0.7rem center;
  width: 30%;
  padding: 0.1rem 0.5rem;
  margin-right: 10px;
}
.product_view .product-shipping .shipping-delivary .btn-shopping,
.product_view .product_content .count-product .btn-shopping {
  width: 180px;
  background: var(--main-color);
  padding: 8px;
  color: #fff;
}
/* popular offer */
.popular .offer {
  background-image: url(../images/adv\ section.png);
  background-size: cover;
  border-radius: 20px;
  padding: 75px;
}
.popular .description-offer {
  line-height: 4;
  color: var(--white);
}
.popular .description-offer span {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.823);
}
/* offers-finall */
.offers-finall .carousel-offer {
  margin-right: 115px;
}
.offers-finall .card {
  height: 330px !important;
  border-radius: 20px;
  margin-bottom: 15px !important;
}
/* subscribe */
.subscribe {
  background: var(--black);
}
.subscribe .bi {
  font-size: 26px;
  margin-left: 12px;
}
.subscribe .input-subscribe {
  width: 75%;
  display: inline;
}
.subscribe .btn-subscribe {
  width: 20%;
  background: var(--main-color);
  color: var(--white);
  padding: 1rem;
}
/* footer */
footer .bottom-footer {
  background: #fcfcfcf6;
}
footer .logo-footer {
  width: 150px;
}
footer .brand {
  display: flex;
  justify-content: flex-end;
}
footer .top-footer .logo img {
  width: 120px;
}
footer .top-footer .icons .bi {
  color: #919191;
  font-size: 20px;
}
footer .top-footer .head-footer {
  color: var(--main-color);
}
footer .top-footer ul li {
  padding-top: 7px;
  padding-bottom: 7px;
}
footer .top-footer ul li a {
  color: #2a2a2a;
}
/*.the_shop_collection page  */
.the_shop_collection .selected {
  border-radius: 18px;
  border: 1px solid #e5e5e5;
  background: var(--white);
}
.the_shop_collection .selected .accordion {
  --bs-accordion-border-color: none;
}
.the_shop_collection .selected .accordion-item {
  background: transparent;
}
.the_shop_collection .selected .accordion-button:focus {
  border-color: none;
  box-shadow: none;
}
.the_shop_collection .selected .accordion-item:first-of-type,
.the_shop_collection .selected .accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.the_shop_collection .selected .accordion-button:not(.collapsed) {
  color: #2a2a2a;
  background-color: transparent;
  box-shadow: none;
}
.the_shop_collection .selected .accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-active-icon);
}
.the_shop_collection .selected .accordion .accordion-body {
  color: #919191;
}
.form-check-input:checked {
  background-color: var(--white);
  border: 4px solid var(--main-color);
  box-shadow: none;
}
.form-check .form-check-input {
  float: right;
  margin-left: 0.5em;
  border-radius: 50%;
}

.the_shop_collection .accordion-button::after,
.offcanvas .accordion-button:not(.collapsed)::after {
  background-image: url(../images/free-arrow-down-icon-3101-thumb.png) !important;
}
.the_shop_collection .accordion-button:not(.collapsed)::after {
  background-image: url(../images//up-arrows.png) !important;
  transform: rotate(0);
}
.the_shop_collection .accordion-button::after {
  margin-right: auto;
  margin-left: 0;
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.the_shop_collection .accordion-body .form-select {
  background-position: left 0.75rem center;
}
/* blogs page */
.blog .card {
  border-radius: 18px;
  position: relative;
  display: block;
  background: #ffffff;
  height: 380px;
  border-radius: 25px;
  overflow: hidden;
}
.blog .card .card-img-top {
  border-radius: 18px 18px 0 0;
  height: 250px;
  object-fit: cover;
}
.blog .card .card-title {
  color: var(--main-color);
  font-weight: 600;
}
.blog .card .card-text {
  color: #2a2a2a;
}
.blog .card-comm {
  display: none;
  color: #7e7e7e;
  font-size: 14px;
  line-height: 1.8em;
  border-top: 1px solid #6666663a;
}
.blog .card-comm p .bi {
  color: var(--main-color);
}
.blog .post-content {
  position: absolute;
  bottom: 0;
  background: #ffffff;
  width: 100%;
  padding: 15px 20px 20px;
  transition: all 0.9s;
}
.bord {
  background: #7e7e7eb4;
  color: #7e7e7e;
  width: 1px;
  height: 30px;
}
/* term page */
.term {
  background: #fcfcfc;
  padding-bottom: 120px;
  color: #2a2a2ad0;
  line-height: 1.9;
  font-size: 18px;
  font-family: "Fairuz" !important;
}
/* help page */
.help {
  background: #fcfcfc;
  padding-bottom: 120px;
  color: #2a2a2ad0;
  line-height: 1.9;
}
.help .btn {
  color: var(--main-color);
}
.help .btn h5 {
  color: #2a2a2a;
}
.help .btn .bi {
  margin-left: 10px;
  font-size: 30px;
}
.help .btn.collapsed {
  color: #b1b1b1;
}
.help .btn.collapsed .bi {
  color: #2a2a2a61;
}
 .card-body {
  border: none !important;
  background: transparent !important;
  width: 90% !important;
  margin: auto !important;
}
.help .collapse .card-body {
  font-size: 18px;
}
/* single product page */
.single-product .product-shipping {
  line-height: 3;
}
.single-product .product-shipping .shipping-delivary {
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  background: var(--white);
}
.single-product .product-shipping .shipping-delivary .form-select {
  background-position: left 0.75rem center;
  padding: 0.1rem 0.5rem;
}
.single-product .product-shipping .shipping-delivary .delivary {
  border-bottom: 1px solid #cfcfcf;
}
.single-product .shipping-delivary .drive-inside {
  color: var(--main-color);
  font-size: 14px;
}
.single-product .shipping-delivary .drive-outside {
  font-size: 14px;
}
.product_view .product-shipping .shipping-delivary .btn-shopping {
  width: 100%;
}
.detail-product .detail-1 {
  border-top: 1px solid #cfcfcf;
}
.detail-product .detail-1 .detail-title {
  color: var(--main-color);
  font-weight: 600;
}
.detail-product .detail-1 .description-product ul li {
  color: #2a2a2a;
}
.detail-product .detail-1 .result-description {
  color: #2a2a2a95;
}
.detail-product .detail-1 p {
  color: #2a2a2a;
}
.detail-product .detail-1 .progress {
  --bs-progress-bar-bg: #ffc107;
  height: 25px;
  background-color: #f0f2f2;
  border-radius: 4px;
  width: 60%;
}
.detail-product .detail-1 .rating p {
  color: #707070;
}
.personal-detail {
  color: #919191;
  display: flex;
  align-items: center;
}
.personal-detail p {
  color: #919191;
}
.personal-detail .bi {
  padding: 8px;
  border-radius: 50%;
  font-size: 20px;
  border: 1px solid #dbdbdb;
  background-color: var(--white);
  color: #919191;
}
.detail-product .detail-1 .comment-person {
  border-bottom: 1px solid #dbdbdb;
}
.detail-product .detail-1 .form-select {
  width: 170px;
  background-position: left 0.75rem center;
  padding: 0.375rem 0.5rem 0.375rem 0.75rem;
}
.single-product .zoom-box {
  position: relative;
  width: 100%;
}
.single-product .zoom-box img {
  vertical-align: bottom;
}
.single-product .zoom-box .zoom-selector {
  position: absolute;
  background-repeat: repeat;
  display: none;
  cursor: pointer;
}
.single-product .zoom-box .viewer-box {
  position: absolute;
  border: none;
  display: none;
  overflow: hidden;
  right: 541px;
  z-index: 444;
  border-radius: 18px;
  width: 100%;
}
.single-product .zoom-box .viewer-box > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 800px !important;
  height: 800px !important;
}
.single-product .add-comment {
  border-top: 1px solid #dbdbdb;
}
.single-product .add-comment .btn {
  padding: 0;
  text-align: start;
}
.single-product .add-comment .btn-check:checked + .btn,
.single-product .add-comment .btn.active,
.single-product .add-comment .btn.show,
.single-product .add-comment .btn:first-child:active,
.single-product .add-comment :not(.btn-check) + .btn:active {
  color: transparent;
  background-color: transparent;
  border-color: #fcfcfc;
}
.single-product .add-comment .btn h6 {
  color: var(--main-color);
}
.single-product .add-comment .btn p {
  color: #2a2a2a;
}
.single-product .link a {
  text-decoration: underline;
  color: var(--main-color);
  font-weight: 600;
}
/* login page */
.login .card .form-control,
.login .card .form-control:focus {
  border: 0;
  border-bottom: 2px solid #d2cbcb;
  border-radius: 0;
  margin: 0;
  padding-right: 0;
}
.login .card {
  width: 65%;
  margin: auto;
  border-radius: 30px;
  border: none;
  padding: 5rem 7rem;
}
.login .btn-login {
  width: 100%;
  background: var(--main-color);
  color: var(--white);
  padding: 0.7rem;
}
.login .regist-page {
  color: var(--main-color);
}
/* contact */

.contact .card .bi {
  color: #919191;
  font-size: 25px;
}
.contact .title-contact {
  position: relative;
  text-align: center;
}
.contact .title-contact::after {
  content: "";
  width: 50px;
  height: 3px;
  background: var(--main-color);
  position: absolute;
  bottom: -20px;
  right: 48%;
}
.contact .form-control {
  border: 1px solid #d9d9d9;
  background: #fafafa;
  border-radius: 8px;
}
.contact .send-contact {
  background: var(--main-color);
  color: var(--white);
}
/* single blog */
.single-blog .img-single {
  border-radius: 20px;
  height: 500px;
}
.single-blog .cart-view {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background: var(--main-color);
  color: var(--white);
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}
.single-blog .cart-view .bord {
  background: #ffffff8c;
}
.single-blog .descrip-blog {
  line-height: 2.5;
  font-size: 18px;
  color: #757575;
}
.single-blog .time-comment,
.single-blog .person-comment {
  color: #ed1c24;
}
.single-blog .person-comment .bi {
  padding: 8px;
  border-radius: 50%;
  font-size: 20px;
  background-color: #e4e7f5;
  color: #8f95a3;
}
.single-blog .comment-detail {
  border-top: 1px solid #cccccc;
}
.single-blog .btn-comment {
  width: 180px;
  background-color: var(--main-color);
  color: var(--white);
  padding: 10px;
}
.single-blog textarea {
  background: transparent;
}
/* compare page */
.compare .card .card-img-top{
  border-radius: 18px;

}

.compare ul{
  line-height: 3;
}

.compare .name-compare,
.compare .select-first{
  height: 400px;
}
.compare .compare-detail{
  height: 300px
}
.compare .btn-compare{
  background: var(--main-color);
}
/* cart */

#wizard {
  padding: 40px;
  width: 100%;
  min-width: 300px;
}
#wizard .tab{
  display: none;
}

#wizard h1 {
  text-align: center;  
}


/* Mark input boxes that gets an error on validation: */
#wizard .required.invalid {
  background-color: #ed1c2393;
}

/* Hide all steps by default: */

#wizard #prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.steps-container{
   width: 100%;
   margin:  0 auto 80px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  text-align: center;
}
#wizard .step{
  padding: 20px 0;
  border: none;  
  color: #2A2A2A;
  opacity: 0.6;
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step .bi{
  padding: 15px;
  border-radius: 50%;
  background-color: #b1b1b120;
  color: #B1B1B1;
  margin: 0 0 0 5px;
  font-size: 20px;
}
.complete-order:hover,
.complete-order{
  background: var(--main-color);
  color: var(--white);
  width: 250px;
  padding: 10px;
}
.add-address:hover,
.add-address{
  background: #2A2A2A;
  width: 250px;
color: var(--white);
}
.cart .cart-title{
  border: 1px solid #F6F6F6;
}
.value-output{
  width: 25px;
  text-align: center;
  background: transparent;
}
.remove-product{
  color: var(--main-color);
}
.cart .btn-calc{
  --bs-btn-border-color: 0;
  color: var(--main-color);
}
.cart-product-item .img-cart{
  border-radius: 18px;
  height: 170px;
  object-fit: cover;
}
#wizard .order-summary .count-total{
  color: var(--main-color);
}
#wizard .order-summary{
  background: var(--white);
  border: 1px solid #E5E5E5;
  line-height: 2;
  border-radius: 18px;
}
#wizard .step.active, #wizard .step.finish{
   opacity: 1;
}
#wizard .step.active::after, #wizard .step.finish::after {

    content: "";
    border: 1px dashed var(--white);
    opacity: 1;
    width: 150px;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    bottom: 45%;
    right: 75%;

}
#wizard .step.finish .bi,
#wizard .step.active .bi{
  background-color: var(--main-color);
  color: var(--white);
}
#wizard .step4.active::after, #wizard .step4.finish::after{
  width: 0;
}
.result-order .img-checkout{
  width: 90%;
}
.result-order .form-control,.result-order .form-control:focus {
  width: 60px;
    padding: 6px 9px;
    background-position: right 35px center;
    margin-bottom: 8px;
}
.bordinbottom{
  width: 80%;
  height: 1px;
  background: #D5D5D5;
  margin: auto;
  margin-bottom: 0.5rem;
}
 .cart-address{
  border-radius: 8px;
  margin-top: 1.2rem;
  margin-bottom: 1.5rem;
  line-height: 2;
  border: 1px solid #DBDBDB;
}
 .cart-address .text-edit,
 .cart-address .bi{
  color: var(--main-color);
}

.form-address{
  display: none;
}
.ordered-success{
  max-width: 100%;
  width: 450px;
}
.credit-img{
  width: 10%;
}
/* notification page*/
.notification .image-notifi{
  width: 70px;
  padding: 15px;
  background: #ECECEC;
  border-radius: 8px;
}
.notification .notifi-data{
  background: #F7F8F9;
  color: #909090;
  border-radius: 8px;

}
.notification .notifi-data .bi{
visibility: hidden;
color: var(--main-color);
}
.notification .notifi-data:hover{
  border: 1px solid var(--main-color);
  }
  .notification .notifi-data:hover .bi{
    visibility: visible;
  }
  /* profile */
  .profile .nav {
    background: #F8F8F8;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding: 35px;
    align-items: flex-start;
  }
  .profile .nav .nav-link{
    margin-bottom: 10px ;
    padding: 15px;
    width: 100%;
    color: #2A2A2A;
    text-align: right;
    font-size: 16px;
    border-radius: 10px;
  }
  .profile .nav .nav-link .bi{
    padding: 1px 9px;
    background: var(--white);
    color: #919191;
    border-radius: 50%;
    margin-left: 5px;
  }
  .profile .nav-pills .nav-link.active,.profile .nav-pills .show>.nav-link{
    background-color: var(--main-color);
    color: var(--white);
    text-align: center;
  }
  .profile .nav-pills .nav-link.active .bi{
    color: var(--main-color);
  }
  .profile table thead{
    background: #F8F8F8;
     }
  .profile table thead tr{
    border-radius: 8px;
  }
  .profile table tr td,
  .profile table thead tr th{
    padding: 15px;
  }
  .profile .code{
    color: var(--main-color);
  }
.profile .tab-pane  .card.fav-card{
border-radius: 18px;
}
  .profile .tab-pane .img-fluid{
  width: 100%;
  }
  .profile .tab-pane .fav-card .card-text{
    color: var(--main-color);
  }
  .profile .tab-pane .fav-card .bi{
    padding: 8px;
    border-radius: 50%;
    background: var(--white);
    box-shadow: 0px 0px 15px #6E6E6E29;
  }
  /* recipt */
  .recipt-card{
    width: 75%;
  }
  .recipt-card .card-body{
    width: 75% !important;
    margin: 0 !important;
    margin-right: 15px;
    margin-left: auto !important;
  }
  .recipt-card .img-fluid{
    border-radius: 20px !important;
  }
  .recipt-card .card-text small{
    padding: 2px 25px;
    border-radius: 4px;
    border: 1px solid #DBDBDB;
  }
/* media */
@media (min-width: 992px) and (max-width: 1370px) {
  .the-shop .card {
    width: 14rem !important;
  }
}
@media (max-width: 1200px) {
  header .search-bar {
    width: 300px;
  }
  .shop-now .collection {
    top: 30%;
    right: 22%;
  }
  .offers-finall .carousel-offer {
    margin-right: 70px;
  }
  .compare .name-compare, .compare .select-first {
    height: 300px;
}
.compare .compare-detail {
  height: 260px;
}

.compare ul li{
font-size: 12px;}
#wizard .step.active::after, #wizard .step.finish::after{
  width: 0;
}
}

@media (max-width: 992px) {
  header .navbar-toggler {
    display: flex;
  }
  header .search-bar {
    display: none;
  }
  header .collap-small {
    justify-content: flex-start !important;
  }

  .top-nav-search {
    position: relative;
    width: 40px;
    height: 35px;
  }
  .top-nav-search > .open-search {
    position: absolute !important;
    top: 0;
    right: 0 !important;
    z-index: 1;
  }
  .top-nav-search form {
    position: relative;
    display: none;
    width: 35px;
    top: 0;
  }
  .top-nav-search form > button {
    position: absolute;
    display: none;
    top: 50%;
    height: 100%;
    background: transparent;
    width: 40px;
    right: 0;
    color: var(--main-color);
    font-size: 20px;
    transform: translateY(-50%);
    transition: all 0.3s;
  }
  .top-nav-search form input {
    width: 0%;
    padding: 8px 0;
    border-radius: 25px;
    transition: all 0.3s;
  }

  .top-nav-search form.show {
    display: block;
    width: 250px;
    z-index: 2;
    box-shadow: 0px 15px 15px -18px var(--dark);
    border-radius: 30px;
  }
  .top-nav-search form.show > button {
    color: var(--main-color);
    display: block;
  }
  .top-nav-search form.show input {
    width: 100%;
    padding: 8px 40px 8px 10px;
    border-radius: 25px;
    background: #f1f1f1;
  }

  .top-nav-search form {
    top: 110%;
    right: -120px;
  }
  .top-nav-search form.show {
    width: 280px;
    z-index: 2;
  }
  .main-banner .carousel-caption {
    bottom: 20%;
  }
  .shop-now .collection {
    top: 35%;
    right: 25%;
  }
  .popular .offer {
    padding: 0;
  }
  .popular .description-offer {
    border-radius: 20px;
    padding-right: 30px;
    background: #00000085;
  }
  .offers-finall .carousel-offer {
    margin-right: 50px;
  }
  footer .bottom-footer {
    text-align: center;
  }
  footer .brand {
    justify-content: center;
    padding-top: 8px;
  }
  .product_view .product_content {
    width: 50%;
  }
  .login .card {
    padding: 5rem 5rem;
  }
  .single-blog .cart-view {
    font-size: 14px;
  }
  .compare .name-compare, .compare .select-first {
    height: 280px;
}
  .compare ul li{
font-size: 12px;  }
.profile .nav {
  padding: 4px;
}
.profile .nav .nav-link {
  font-size: 9px;
}
.recipt-card .card-body {
  width: 100% !important;
}
.recipt-card .img-fluid {
  height: 100%;
}
.recipt-card {
  width: 100% !important;
}
}
@media (max-width: 767.9px) {
  .main-banner .carousel-caption {
    line-height: 3;
  }
  .main-banner .carousel-caption h2 {
    display: none;
  }
  .about .card-about {
    justify-content: flex-start !important;
  }
  .shop-now .collection {
    top: 40%;
    right: 25%;
    font-size: 36px;
  }
  .shop-now .collection h3 {
    font-size: 36px !important;
  }
  .the-shop .card {
    width: 100% !important;
  }
  .offers-finall .carousel-offer {
    margin-right: 30px;
  }
  .product_view .product_content {
    width: 100%;
  }
  .single-product .zoom-box .viewer-box {
    right: 0;
    top: 100% !important;
    margin-top: 10px;
  }
  .login .card .form-control,
  .login .form-control:focus {
    padding-top: 0.5rem;
  }
  .login .card {
    width: 85%;
    margin: auto;
  }
  .compare .compare-detail{
    font-size: 10px;
  }
  .compare .name-compare,
.compare .select-first{
  height: 280px;
}
.compare .compare-detail{
  height: 200px;
}
#wizard .step {
justify-content: flex-start !important;
font-size: 12px;}
.profile .nav {
  padding: 4px;
  flex-direction: row !important;
  justify-content: space-evenly;
}
.profile .nav .nav-link {
  width: max-content;
  font-size: 12px;
}
.profile table tr td,
  .profile table thead tr th{
    padding: 10px;
    font-size: 12px;
  }
  .recipt-card{
    width: 100%;
  }
  .recipt-card .card-body{
    width: 90% !important;
    margin: auto !important;
}
}
@media (max-width: 575.98px) {
  header .top-nav {
    font-size: 12px;
  }
  header .navbar .logo {
    width: 120px;
  }
  .main-banner .carousel-caption {
    bottom: 20%;
    line-height: 1.5;
    font-size: 14px;
  }
  .shop-now .collection {
    top: 35%;
    right: 29%;
    font-size: 22px;
  }
  .shop-now .collection h3 {
    font-size: 24px !important;
  }
  .offers-finall .carousel-offer {
    margin-right: 0;
  }
  .login .card {
    width: 95%;
    margin: auto;
    padding: 4rem 2.5rem;
  }
  .single-blog .cart-view {
    flex-direction: column;
  }
  .single-blog .cart-view .bord {
    width: 0;
    height: 0;
  }
  .compare ul{
    line-height: 2;
  }
  .compare ul li{
    font-size: 11px;  }
    .product-quantity{
      flex-direction: column !important;
      align-items: start !important;
    }
    .cart-product-name{
      flex-direction: column !important;
      align-items: start !important;
    }
    .cart-product-name h5{
      width: 100% !important;
    }
     .cart-address {
      flex-direction: row;
    }
    .count-recipt{
      font-size: 12px !important;
    }
}
